body {
    background-color: #F5F5DC;
}

h1 {
    color: black;
    text-align: center;
    font-size: 80px;
}

h2 {
    color: black;
    text-align: center;
}


/* this is how you refer to an id */
#firstSubHeading {
    color: black;
    text-align: center;
    /* font-size: 60px; */
}

/* This is how you refer to a class */
.textWriting {
    font-size: 20px;
    color: black;
    text-align: center;
}

#muffinImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
